@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato:400,700');
body {
    background: url(flag.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header {
    height: 60vh;
    color: #fff;
}
.header h1 {
    margin: 0;
}
.info {
    height: 40vh;
    background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .3));
    color: #000;
}

