@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:400,600|Patua+One');

body {
    background: url(flag.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header {
    height: 60vh;
    color: #fff;
}
.header h1 {
    margin: 0;
    padding: 20px 20px 5px;
    font-family: 'Patua One';
    font-weight: 400;
}
.header h2 {
    font-family: 'Lora';
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 5px 20px;
}
.info {
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 10));
    color: #fff;
    font-family: 'Lora';
    padding: 30px;
}

@media (max-width: 514px) {
    body {
        background-position: center top;
    }

    .header h1 {
        font-size: 30x;
    }

    .header h2 {
        font-size: 24px;
    }
}
